<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #app{
            width: 600px;
            margin: 50px auto;
        }
        fieldset{
            border: 1px solid orange;
        }
        fieldset input{
            width: 200px;
            height: 26px;
        }
        .search input{
            width: 120px;
            height: 24px;
        }
        .search button{
            width: 46px;
            height: 28px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <fieldset>
            <legend>管理</legend>
            <div>
                <span>姓名：</span>
                <input type="text" placeholder="请输入姓名" v-model="newPerson.name">
            </div>
            <div>
                <span>年龄：</span>
                <input type="text" placeholder="请输入年龄" v-model="newPerson.age">
            </div>
            <div>
                <span>性别：</span>
                <select v-model="newPerson.sex">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <div>
                <span>电话号码：</span>
                <input type="text" placeholder="请输入电话号码" v-model="newPerson.tel">
            </div>
            <button @click="addPerson()">添加新人员</button>
        </fieldset>
        <div class="search">
            <input type="text" v-model="val"><button @click="searchVal(val)">搜索</button>
        </div>
        <table>
            <thead>
                <tr>
                    <td>姓名</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>电话号码</td>
                    <td>删除</td>                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in persons">
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.sex}}</td>
                    <td>{{item.tel}}</td>
                    <td><button @click="delPerson(index)">删除</button></td>    
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    const log = console.log;
    var vm = new Vue({
        el: "#app",
        data: {
            persons: [
                {name:"lin",age:12,sex:"男",tel:12345546},
                {name:"gsgs",age:12,sex:"男",tel:12345546},
                {name:"ggfgj",age:12,sex:"女",tel:12345546},
                {name:"kiuk",age:12,sex:"女",tel:12345546},
                {name:"cvxnjg",age:12,sex:"男",tel:12345546},
            ],
            newPerson: {name:"",age:"",sex:"",tel:""},
            val: ""
        },
        methods: {
            addPerson: function(){
                if(this.newPerson.name !== "" && this.newPerson.age>=1 && this.newPerson.sex !== "" && this.newPerson.tel !== ""){
                    let add = confirm("确定添加？");
                    if(add){
                        this.persons.push(this.newPerson);
                    }
                }else{
                    alert("填的信息有空或者不符合！");
                    return false;
                } 
            },
            delPerson: function(index){
                if(confirm("确定删除？")){
                    //log(index);
                    this.persons.splice(index,1);
                }
            },
            searchVal: function(val){
                log(val);
                var personIofo = this.persons.filter(e=>{
                    return e.name.indexOf(val)>-1;
                })
                return personIofo;
                log(personIofo);
            }
        }
    })
    var arr = [
        {val:1,text:"q"},
        {val:2,text:"w"},
        {val:3,text:"e"}
    ];
    var t = arr.filter(e=>{
        return e.text==="q";
    })
    log(arr);
    log(t);

    var number = [1,2,3];
    for(let i in number){//索引值
        log(i);//0 1 2
    }
    for(let i of number){//每项
        log(i);//1 2 3
    }
</script>
</html>